* {
  box-sizing: border-box;
}
#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  display: flex;
  align-items: flex-start;
}
.task {
  position: relative;
  border-radius: 4px;
  padding: 8px;
  margin: 0px -6px;
  cursor: grab;
  transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
  background: linear-gradient(45deg, #242424, #1b2329);
  word-wrap: break-word;
  overflow-wrap: break-word;
  user-select: none;
}
.delete-task {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: rgb(206, 87, 87);
  color: white;
  font-size: 12px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
  border-radius: 5px;
  padding-left: 13px;
  padding-right: 13px;
}
.delete-task:hover {
  background-color: red;
}
.task:hover .delete-task {
  opacity: 1;
}
.task:active {
  cursor: grabbing;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}
.task:active .delete-task {
  background-color: red;
}
.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px;
  justify-content: center;
  align-items: start;
}
.newTask {
  border: none;
  background-color: transparent;
}
.newTask::placeholder {
  color: white;
}
.newTask:focus {
  outline: none;
}
.columns {
  display: flex;
  flex-direction: column;

  gap: 5px;
  padding: 12px;
  border-radius: 15px;
  background-color: white;
}
.columns:hover .newTask::placeholder {
  color: gray;
}
.input-wrapper {
  position: relative;
  display: inline-block;
}
.drag-overlay {
  opacity: 0;
  pointer-events: none;
}
.input-wrapper textarea {
  font-family: sans-serif;
  padding-right: 40px;
  border: 1px solid gray;
  border-radius: 0px;
  background-color: transparent;
  border: transparent;
  color: gray;
  line-height: 2;
  padding-top: 0px;
  outline: none;
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  overflow-y: hidden;
  resize: none;
  margin-bottom: -10px;
}
.inputHolder::placeholder {
  line-height: 1;
  padding: 8px 1px;
  color: gray;
  outline: none;
  box-shadow: none;
}
.input-wrapper button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  padding: 6px;
}
.input-wrapper button:hover svg path {
  fill: rgb(54, 54, 54);
}
.title {
  position: relative;
  min-height: 80px;
  margin-top: -12px;
  margin-left: -12px;
  margin-right: -12px;
  padding-top: 20px;
  background: linear-gradient(45deg, #272d33, #29353f);
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.columnBar {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
  border-radius: 3px;
}
.editBar {
  margin-right: -10px;
  margin-left: 7px;
}
.columns:hover .columnBar {
  opacity: 1;
}
.delete-column {
  background: rgb(206, 87, 87);
  color: white;
  margin-left: -1px;
  margin-right: -1px;
}
.delete-column:hover {
  background-color: red;
}
.editTitle {
  background-color: #1a1a1a;
  margin-left: -1px;
  margin-right: -1px;
}
.editColor {
  background-color: #1a1a1a;
  margin-left: -1px;
  margin-right: -1px;
}
.editColor svg {
  border-radius: 3px;
  margin-top: 3px;
}
.title:hover .delete-column {
  opacity: 1;
}
.newColumn {
  max-width: 390px;

  padding: 12px;
  border-radius: 15px;
  border: 2px dashed rgba(128, 128, 128, 0.315);
  margin: 0 auto;
  margin-top: 50px;
}
.newColumn input {
  padding: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
.newColumn button {
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}
.tooltip-container {
  position: relative;
  display: inline-block;
  margin-right: 7px;
}
.tooltip-text {
  font-family: Arial;
  font-weight: 100;
  background-color: transparent;
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-40%);
  margin-bottom: 8px;
  z-index: 1;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.2s;
}
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 0.9;
}
.editInput {
  position: absolute;
  right: 1px;
  top: 10px;
  border: transparent;
  width: 280px;
  text-align: center;
  height: 65px;
  font-size: 30px;
  background-color: transparent;
  color: white;
}
.editInput:focus {
  border: none;
  outline: none;
}
.color-buttons {
  position: absolute;
  bottom: 130%;
  right: -71px;
  left: -180px;
  display: flex;
  flex-wrap: wrap;
  gap: 0, 5px;
  margin: 0;
  background-color: #242424;
  border-radius: 3px;
  padding: 5px;
  z-index: 10;
}
.color-buttons button {
  margin: 2px;
  border-radius: 7px;
  width: 30px;
  height: 30px;
}
.delete-column,
.editTitle,
.editColor {
  margin-left: 0;
  margin-right: 0;
}

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;

  border-radius: 4px;
  background-color: #222222;
}
.login button {
  background: var(--primary);
  border: 0;
  color: #fff;
  background-color: #1a1a1a;
  padding: 10px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  border-radius: 4px;
  cursor: pointer;
}
.login button:hover {
  background-color: #111111;
}
div.error {
  padding: 10px;

  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.container {
  margin-bottom: 50px;
  padding-bottom: 30px;
  width: 100%;
}
.container a {
  margin-left: 10px;
  color: white;
}
.container a:hover {
  color: rgba(255, 255, 255, 0.719);
}
.container h1 {
  color: #fff;
  padding: 0px;
}
nav button {
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 9px;
  border-radius: 4px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
nav button:hover {
  background-color: #111111;
}
.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
}
